* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container {
  width: 390px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  width: 390px;
  height: 64px;
  padding: 12px;
  background-color: #a8b9e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.header-left {
  padding-left: 8px;
  text-decoration: none;
  color: #fef5a2;
  font-weight: 400;
  font-size: 20px;
}

.header-right {
  text-decoration: none;
  padding-right: 16px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.banner img {
  width: 390px;
  height: 200px;
}

.notice {
  width: 390px;
  padding: 30px 18px;
}

.notice-button {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a8b9e0;
  border-radius: 100px;
  padding: 10px 16px;
  color: #fff;
  font-weight: 400px;
  font-size: 16px;
}

.content {
  width: 390px;
  padding-top: 30px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content img {
  width: 314px;
  height: 366px;
  border-radius: 6px;
}

.banner-card {
  width: 358px;
  height: 141px;
  border-radius: 6px;
  padding: 30px 16px;
  background-color: #a8b9e0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 60px;
}

.subtitle {
  font-size: 14px;
  font-weight: 800;
  color: white;
  margin: 0;
}

.title {
  font-size: 22px;
  font-weight: 800;
  color: #fef5a2;
  margin: 0;
}

.line {
  height: 2px;
  background-color: #fff;
  width: 100%;
}

.corner {
  position: absolute;
  font-size: 18px;
  color: #fff;
}

.top-left {
  top: 8px;
  left: 8px;
}

.top-right {
  top: 8px;
  right: 8px;
}

.bottom-left {
  bottom: 8px;
  left: 8px;
}

.bottom-right {
  bottom: 8px;
  right: 8px;
}

.footer {
  width: 390px;
  padding: 28px 28px;
  background-color: #a8b9e0;
  text-align: center;
}

.footer-logo {
  font-size: 20px;
  color: #fef5a2;
  margin-bottom: 16px;
}

.footer-logo sup {
  font-size: 10px;
  vertical-align: super;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.icon img {
  width: 28px;
  height: 28px;
}

.footer-divider {
  width: 300px;
  background-color: #fef5a2;
}

.footer-text {
  padding-top: 10px;
  border: 0.78px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
